@import "../../assets/styles/media-queries.scss";

.article {
  padding-top: 100px;

  &__hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__hero-text {
    font-family: "Arial";
    font-size: 70px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  @include xs {
    &__hero {
      margin: 35px 0;
    }
  }

  @include lg {
    &__hero {
      margin: 80px 0;
    }
  }
}
