.article-code {
  &__pre {
    background: #333;
    border-radius: 4px;
    margin: 20px 120px;
    overflow: auto;
    white-space: pre;
    word-wrap: break-word;
    padding: 25px 0 25px 40px;
  }

  &__code {
    color: #fff;
    font-family: "Roboto Mono";
    font-size: 15px;
  }
}
